{
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    },
    {
      "files": ["*.scss"],
      "options": { "parser": "scss" }
    },
    {
      "files": ["*.js"],
      "options": { "parser": "babel" }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": { "parser": "yaml" }
    }
  ]
}
