{{ partial "head/meta.html" . }}
{{/* Canonical URL */}}
<link rel="canonical" href="{{ .Permalink }}" />

{{/* Language alternates (hreflang) */}}
{{- $ctx := . -}}
{{- range .Site.Languages -}}
  {{- $lang := . -}}
  {{- $href := "" -}}
  {{- $targets := where $ctx.AllTranslations "Lang" $lang.Lang -}}
  {{- if gt (len $targets) 0 -}}
    {{- $href = (index $targets 0).Permalink -}}
  {{- else -}}
    {{- $homeAlts := where $ctx.Site.Home.AllTranslations "Lang" $lang.Lang -}}
    {{- if gt (len $homeAlts) 0 -}}
      {{- $href = (index $homeAlts 0).Permalink -}}
    {{- else -}}
      {{- if eq $lang.Lang $ctx.Site.Language.Lang -}}
        {{- $href = $ctx.Permalink -}}
      {{- else -}}
        {{- $href = (printf "%s%s/" $ctx.Site.BaseURL $lang.Lang) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  <link rel="alternate" hreflang="{{ $lang.Lang }}" href="{{ $href }}" />
{{- end -}}

{{/* x-default: default language or site root */}}
{{- $defaultLang := (index (sort .Site.Languages "Weight" "asc") 0) -}}
{{- if $defaultLang -}}
  {{- $xHref := "" -}}
  {{- $d := where .AllTranslations "Lang" $defaultLang.Lang -}}
  {{- if gt (len $d) 0 -}}
    {{- $xHref = (index $d 0).Permalink -}}
  {{- else -}}
    {{- $homeDefault := where .Site.Home.AllTranslations "Lang" $defaultLang.Lang -}}
    {{- if gt (len $homeDefault) 0 -}}
      {{- $xHref = (index $homeDefault 0).Permalink -}}
    {{- else -}}
      {{- $xHref = .Site.BaseURL -}}
    {{- end -}}
  {{- end -}}
  <link rel="alternate" hreflang="x-default" href="{{ $xHref }}" />
{{- end -}}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ partial "head/schema.html" . }}


<script>
  (function () {
    try {
      var pref = localStorage.getItem("pref-theme");
      var isDark = pref
        ? pref === "dark"
        : window.matchMedia("(prefers-color-scheme: dark)").matches;
      if (isDark) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    } catch (e) {}
  })();
  // This runs before CSS loads to minimize FOUC
</script>

{{ partial "core/resources_css.html" . }}
{{ with .Site.Params.Favicon }}
  <link rel="icon" href="{{ . }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ . }}" />
{{ end }}
{{ template "_internal/google_analytics.html" . }}
{{ partial "head/google_adsense.html" . }}
