<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<title>
  {{ if .IsHome }}
    {{ .Site.Title }}
  {{ else }}
    {{ .Title }} |
    {{ .Site.Title }}
  {{ end }}
</title>
{{/* Build a sanitized meta description: prefer .Description, else page .Summary, else site param. */}}
{{- $desc := "" -}}
{{- with .Description -}}
  {{- $desc = . -}}
{{- else -}}
  {{- if .IsPage -}}
    {{- $desc = .Summary -}}
  {{- else -}}
    {{- with .Site.Params.description -}}{{ $desc = . }}{{- end -}}
  {{- end -}}
{{- end -}}
{{- $descSan := $desc | plainify | htmlUnescape | replaceRE "\\s+" " " | truncate 160 -}}
<meta
  name="description"
  content="{{- $descSan -}}"
/>
<meta
  name="keywords"
  content="{{- $tags := slice -}}{{- range .GetTerms "tags" -}}
    {{- $tags = $tags | append .LinkTitle -}}
  {{- end -}}{{- if gt $tags 0 -}}
    {{- delimit $tags ", " -}}
  {{- else -}}
    {{- delimit .Site.Params.Keywords ", " -}}
  {{- end -}}"
/>
