{{- if and .IsPage .Params.featuredImage -}}
  {{- $res := .Resources.GetMatch .Params.featuredImage -}}
  {{- $ext := lower (path.Ext .Params.featuredImage) -}}
  {{- $isAVIF := eq $ext ".avif" -}}
  {{- $isWebP := eq $ext ".webp" -}}
  {{- $skip := or (eq $ext ".svg") (eq $ext ".svgz") -}}
  {{- if and $res (eq $res.MediaType.MainType "image") (not $skip) -}}
    {{- $cfg := partial "atoms/featured_image_config.html" . -}}
    {{- $widths := $cfg.widths -}}
    {{- $sizes := $cfg.sizes -}}
    {{- $enableAvif := false -}}
    {{- $webpQ := 75 -}}
    {{- $avifQ := 60 -}}
    {{- with site.Params.images }}
      {{ if .enableAvif }}{{ $enableAvif = true }}{{ end }}
      {{ with .webpQuality }}{{ $webpQ = . }}{{ end }}
      {{ with .avifQuality }}{{ $avifQ = . }}{{ end }}
    {{ end -}}

    {{- if or $isAVIF $isWebP -}}
      {{/* Sidecar path: mirror picture.html lines 123-179 */}}
      {{- $type := cond $isAVIF "avif" "webp" -}}
      {{- $base := .Resources.GetMatch (replace .Params.featuredImage (printf ".%s" $type) ".jpg") -}}
      {{- if not $base -}}
        {{- $base = .Resources.GetMatch (replace .Params.featuredImage (printf ".%s" $type) ".png") -}}
      {{- end -}}
      {{- $sidecarQ := 65 -}}
      {{- with site.Params.images.sidecarQuality }}{{ $sidecarQ = . }}{{ end -}}
      {{- if $base -}}
        {{- $origW := $base.Width -}}
        {{- $bounded := partial "atoms/bounded_widths.html" (dict "widths" $widths "origW" $origW) -}}
        {{- $srcsetPrimary := slice -}}
        {{- range $w := $bounded -}}
          {{- $p := $base.Resize (printf "%dx %s q%d" $w $type $sidecarQ) -}}
          {{- $srcsetPrimary = $srcsetPrimary | append (printf "%s %dw" $p.RelPermalink $w) -}}
        {{- end -}}
        {{- if gt (len $srcsetPrimary) 0 -}}
          <link
            rel="preload"
            as="image"
            type="image/{{ $type }}"
            {{ printf `imagesrcset="%s"` (delimit $srcsetPrimary ", ") | safeHTMLAttr }}
            {{ printf `imagesizes="%s"` $sizes | safeHTMLAttr }}
            fetchpriority="high"
          />
        {{- end -}}
      {{- end -}}

    {{- else -}}
      {{/* Existing JPG/PNG path */}}
      {{- $origW := $res.Width -}}
      {{- $bounded := partial "atoms/bounded_widths.html" (dict "widths" $widths "origW" $origW) -}}
      {{- $srcsetWEBP := slice -}}
      {{- $srcsetAVIF := slice -}}
      {{- range $w := $bounded -}}
        {{- $webp := $res.Resize (printf "%dx webp q%d" $w $webpQ) -}}
        {{- $srcsetWEBP = $srcsetWEBP | append (printf "%s %dw" $webp.RelPermalink $w) -}}
        {{- if $enableAvif -}}
          {{- $avif := $res.Resize (printf "%dx avif q%d" $w $avifQ) -}}
          {{- $srcsetAVIF = $srcsetAVIF | append (printf "%s %dw" $avif.RelPermalink $w) -}}
        {{- end -}}
      {{- end -}}
      {{- if and $enableAvif (gt (len $srcsetAVIF) 0) -}}
        <link
          rel="preload"
          as="image"
          type="image/avif"
          {{ printf `imagesrcset="%s"` (delimit $srcsetAVIF ", ") | safeHTMLAttr }}
          {{ printf `imagesizes="%s"` $sizes | safeHTMLAttr }}
          fetchpriority="high"
        />
      {{- else if gt (len $srcsetWEBP) 0 -}}
        <link
          rel="preload"
          as="image"
          type="image/webp"
          {{ printf `imagesrcset="%s"` (delimit $srcsetWEBP ", ") | safeHTMLAttr }}
          {{ printf `imagesizes="%s"` $sizes | safeHTMLAttr }}
          fetchpriority="high"
        />
      {{- end -}}
    {{- end -}}

  {{- else if and (not $res) (not $skip) (or $isAVIF $isWebP) -}}
    {{/* Static AVIF/WebP (not a page bundle resource): mirror picture.html static path */}}
    {{- $type := cond $isAVIF "avif" "webp" -}}
    {{- $webPath := .Params.featuredImage -}}
    {{- if and $webPath (ne (substr $webPath 0 1) "/") -}}
      {{- $webPath = printf "/%s" $webPath -}}
    {{- end -}}
    <link
      rel="preload"
      as="image"
      type="image/{{ $type }}"
      href="{{ $webPath }}"
      fetchpriority="high"
    />
  {{- end -}}
{{- end -}}
