{{ $logoURL := "" }}
{{ $imageURL := "" }}
{{ $desc := "" }}

{{ with .Site.Params.logo }}
  {{ $logoURL = absURL . }}
{{ end }}

{{ if .IsPage }}
  {{ with .Params.featuredImage }}
    {{ $imageURL = absURL . }}
  {{ end }}
{{ end }}

{{/* Compute description once to safely jsonify later */}}
{{ with .Description }}
  {{ $desc = . }}
{{ else }}
  {{ if .IsPage }}
    {{ $desc = .Summary }}
  {{ else }}
    {{ with .Site.Params.description }}{{ $desc = . }}{{ end }}
  {{ end }}
{{ end }}

{{ $logo := dict "@type" "ImageObject" "url" $logoURL }}
{{ if .IsPage }}
  {{ $datePublished := .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}
  {{ $dateModified := .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}
  {{ $mainEntity := dict "@type" "WebPage" "@id" .Permalink }}
  {{ $author := dict "@type" "Person" "name" .Site.Params.Author }}
  {{ $publisher := dict "@type" "Organization" "name" .Site.Params.Author "logo" $logo }}
  {{ $obj := dict
    "@context" "https://schema.org/"
    "@type" "BlogPosting"
    "headline" .Title
    "image" $imageURL
    "datePublished" $datePublished
    "dateModified" $dateModified
    "description" $desc
    "author" $author
    "publisher" $publisher
    "mainEntityOfPage" $mainEntity
    "url" .Permalink
  }}
  <script type="application/ld+json">{{ $obj | jsonify | safeJS }}</script>
{{ else }}
  {{ $siteURL := .Site.BaseURL }}
  {{ $siteName := .Site.Title }}
  {{ $org := dict
    "@context" "https://schema.org"
    "@type" "Organization"
    "name" $siteName
    "url" $siteURL
    "logo" $logo
  }}
  <script type="application/ld+json">{{ $org | jsonify | safeJS }}</script>
{{ end }}
