{{ $logoURL := "" }}
{{ $imageURL := "" }}

{{ with .Site.Params.logo }}
  {{ $logoURL = absURL . }}
{{ end }}

{{ if .IsPage }}
  {{ with .Params.featuredImage }}
    {{ $imageURL = absURL . }}
  {{ end }}
{{ end }}

{{ if .IsPage }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "BlogPosting",
    "mainEntityOfPage":  {
      "@type": "WebPage",
      "@id": {{ .Permalink }}
    },
    "headline": "{{ .Title }}",
    "image": {{ $imageURL }},
    "datePublished": "{{ .PublishDate.Format "2006-01-02" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
    "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}",
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.Author}}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Params.Author }}",
      "logo": {
        "@type": "imageObject",
        "url": {{ $logoURL }}
      }
    }
  }
</script>
{{ else }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Blog",
    "name": "{{ .Site.Title }}",
    "creator": {
      "@type": "Person",
      "name": "{{ .Site.Params.Author }}"
    },
    "image": {{ $logoURL }},
    "url": {{ .Site.BaseURL }},
    "description": "{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}",
    "license": "https://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US"
  }
</script>
{{ end }}
