<picture>
  {{ $isAVIF := eq (path.Ext .Destination) ".avif" }}
  {{ $isWebP := eq (path.Ext .Destination) ".webp" }}
  {{ $imgSrc := "" }}

  {{ if or $isAVIF $isWebP }}
    {{ $type := "" }}
    {{ if $isAVIF }}
      {{ $type = "avif" }}
    {{ else if $isWebP }}
      {{ $type = "webp" }}
    {{ end }}
    <source srcset="{{ .Destination | safeURL }}" type="image/{{ $type }}" />

    {{ $jpgPath := replace .Destination (printf ".%s" $type) ".jpg" }}
    {{ $jpgPathStatic := printf "static/%s" $jpgPath }}
    {{ if (fileExists $jpgPathStatic) }}
      {{ $imgSrc = $jpgPath }}
    {{ end }}

    {{ $pngPath := replace .Destination (printf ".%s" $type) ".png" }}
    {{ $pngPathStatic := printf "static/%s" $pngPath }}
    {{ if (fileExists $pngPathStatic) }}
      {{ $imgSrc = $pngPath }}
    {{ end }}
  {{ else }}
    {{ $imgSrc = (.Destination | safeURL) }}
  {{ end }}


  <img src="{{ $imgSrc }}" alt="{{ .Text }}" loading="lazy" decoding="async" />
</picture>
