<div class="row">
  <div class="col-md-12">
    <article>
      {{ $tags := .GetTerms "tags" }}
      {{ if gt $tags 0 }}
        <div class="kiji-tag">
          <ul>
            {{ range $tags }}
              <li><a href="{{ .Permalink }}" rel="tag">{{ .LinkTitle }}</a></li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
      <h1>{{ .Title }}</h1>
      {{ if .PublishDate }}
        <div class="post-info">
          <div class="kiji-date">
            <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
              <svg class="icon icon-pencil">
                <use xlink:href="#icon-pencil"></use>
              </svg>
              :{{ .PublishDate.Format "2006-01-02" }}
            </time>
            {{ with .Lastmod }}
              |
              <time datetime="{{ .Format "2006-01-02" }}">
                <svg class="icon icon-spinner">
                  <use xlink:href="#icon-spinner"></use>
                </svg>
                :
                {{ .Format "2006-01-02" }}
              </time>
            {{ end }}
          </div>
        </div>
      {{ end }}
      {{ if and (.Params.featuredImage) (ne .Params.featuredImage "") }}
        {{ with .Params.featuredImage }}
          <div class="featured-image-wrapper golden-ratio">
            {{ partial "atoms/picture.html" (dict "image" (printf "/%s" .) "alt" "featured image") }}
          </div>
        {{ end }}
      {{ end }}
      <div>
        {{ .Content }}
      </div>
      {{ with .Site.Params.GoogleAdsenseCode }}
        <div class="adsense">{{ . | safeHTML }}</div>
      {{ end }}
    </article>
  </div>
</div>
