{{ define "header" }}
  <script>
    const prefersDarkMode = window.matchMedia("(prefers-color-scheme: dark)");
    const storedTheme = localStorage.getItem("pref-theme");
    const body = document.body;

    if (storedTheme) {
      body.classList.toggle("dark", storedTheme === "dark");
    } else {
      turnDarkModeOn = prefersDarkMode.matches;
      body.classList.toggle("dark", turnDarkModeOn);
      localStorage.setItem("pref-theme", turnDarkModeOn ? "dark" : "light");
    }
  </script>
  <header>
    {{ partial "molecules/nav.html" . }}
    {{ partial "molecules/side_nav.html" . }}
  </header>
{{ end }}
