<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ block "resources" . }}
    {{ partial "core/resources.html" . }}
    {{ end }}
  </head>
  <body>
    {{ block "header" . }}
    {{ end }}
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
        {{ block "main" . }}
        {{ end }}
        </div>
      </div>
    </div>
    {{ block "footer" . }}
    {{ end }}
  </body>
</html>
