<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  {{ $pageType := "" }}
  {{ if .IsHome }}
    {{ $pageType = "website" }}
  {{ else }}
    {{ $pageType = "article" }}
  {{ end }}
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ $pageType }}: http://ogp.me/ns/{{ $pageType }}#"
  >
    {{ partial "head/head.html" . }}
  </head>
  <body>
    <a class="skip-link" href="#main-content">{{ T "skip_to_content" }}</a>
    {{ block "header" . }}
    {{ end }}
    {{ block "main" . }}
    {{ end }}
    {{ block "footer" . }}
    {{ end }}
    {{ partial "molecules/icons.html" . }}
    {{ partial "core/resources_js.html" . }}
  </body>
</html>
