{{ define "main" }}
  <main id="main-content" class="main-content{{ if eq (.Ancestors | len) 0 }} margin-top{{ end }}" role="main">
    {{ if ne (.Ancestors | len) 0 }}
      {{ partial "molecules/breadcrumbs.html" . }}
    {{ end }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7" id="contents">
          <div class="article-list">
            {{ $paginator := slice }}
            {{ if .IsHome }}
              {{/* Use site.Params.mainSections to pick sections for the homepage list. Default covers common names. */}}
              {{ $mainSections := or .Site.Params.mainSections (slice "post" "posts") }}
              {{ $paginator = .Paginate (where .Site.RegularPages "Section" "in" $mainSections) }}
            {{ else }}
              {{ $paginator = .Paginate .Pages }}
            {{ end }}
            {{ $pages := $paginator.Pages }}
            {{ $pageNo := $paginator.PageNumber }}
            {{ if and .IsHome (eq $pageNo 1) }}
              {{ range $i, $p := $pages }}
                {{ if eq $i 0 }}
                  {{ partial "organisms/list_of_posts.html" (dict "page" $p "priority" true) }}
                {{ else }}
                  {{ partial "organisms/list_of_posts.html" (dict "page" $p "priority" false) }}
                {{ end }}
              {{ end }}
            {{ else }}
              {{ range $pages }}
                {{ partial "organisms/list_of_posts.html" (dict "page" . "priority" false) }}
              {{ end }}
            {{ end }}
            <div class="pagination-index">
              {{ template "_internal/pagination.html" . }}
            </div>
          </div>
        </div>
        <div class="col-md-2" id="sidebar-left">
          {{ partial "organisms/sidebar_left.html" . }}
        </div>
        <div class="col-md-3" id="sidebar">
          {{ partial "organisms/sidebar_right.html" . }}
        </div>
      </div>
    </div>
  </main>
{{ end }}
