{{ define "main" }}
  <div class="main-content{{ if eq (.Ancestors | len) 0 }} margin-top{{ end }}">
    {{ if ne (.Ancestors | len) 0 }}
      {{ partial "molecules/breadcrumbs.html" . }}
    {{ end }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9" id="contents">
          <div class="article-list">
            {{ $paginator := slice }}
            {{ if .IsHome }}
              {{/* Use site.Params.mainSections to pick sections for the homepage list. Default covers common names. */}}
              {{ $mainSections := or .Site.Params.mainSections (slice "post" "posts") }}
              {{ $paginator = .Paginate (where .Site.RegularPages "Section" "in" $mainSections) }}
            {{ else }}
              {{ $paginator = .Paginate .Pages }}
            {{ end }}
            {{ range $paginator.Pages }}
              {{ partial "organisms/list_of_posts.html" . }}
            {{ end }}
            <div class="pagination-index">
              {{ template "_internal/pagination.html" . }}
            </div>
          </div>
        </div>
        {{ block "sidebar" . }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
