{{ define "main" }}
  <div class="main-content">
    {{ partial "molecules/breadcrumbs.html" . }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9" id="contents">
          <div class="article-list">
            <div id="search-results" data-i18n-no-results="{{ T "no_matches" }}"></div>
            <div class="search-loading">{{ T "loading" }}</div>
            <script id="search-result-template" type="text/x-js-template">
              <div class="row post-row"id="summary-${key}">
                <div class="col-md-12">
                  <a href="${link}">
                    ${featuredImage}
                    <div class="post-title">
                      <h2>${title}</h2>
                    </div>
                    <div class="post-text">
                      <div class="post-info">
                        <div class="kiji-date">
                          <time
                            datetime="${publishDate}"
                          >
                            {{ partial "atoms/icon.html" (dict "id" "icon-pencil") }}
                            :
                            ${publishDate}
                          </time>
                          |
                          <time datetime="${lastmod}">
                            {{ partial "atoms/icon.html" (dict "id" "icon-spinner") }}
                            :
                            ${lastmod}
                          </time>
                        </div>
                      </div>
                      <div class="post-excerpt">
                        ${snippet}
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </script>
            {{ partial "core/resources_search_js.html" . }}
            <div class="pagination-index"></div>
          </div>
        </div>
        {{ block "sidebar" . }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
