{{ define "main" }}
  <main id="main-content" class="main-content" role="main">
    {{ partial "molecules/breadcrumbs.html" . }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7" id="contents">
          {{ range sort .Pages "Title" "asc" }}
            <ul>
              <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a> ({{ len .Pages }})
              </li>
            </ul>
          {{ end }}
        </div>
        <div class="col-md-2" id="sidebar-left">
          {{ partial "organisms/sidebar_left.html" . }}
        </div>
        <div class="col-md-3" id="sidebar">
          {{ partial "organisms/sidebar_right.html" . }}
        </div>
      </div>
    </div>
  </main>
{{ end }}
