{{ define "main" }}
  <main id="main-content" class="main-content" role="main">
    {{ partial "molecules/breadcrumbs.html" . }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9" id="contents">
          {{ range sort .Pages "Title" "asc" }}
            <ul>
              <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a> ({{ len .Pages }})
              </li>
            </ul>
          {{ end }}
        </div>
        {{ block "sidebar" . }}
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}
