// Grid and container system

// Container
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

// Row
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.row > * { max-width: 100%; }

// Columns
#contents,
#sidebar,
.col-md-12,
.col-sm-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}

// Base: stack
.col-sm-4,
.col-md-12 { width: 100%; }

// Breakpoints
@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

@media (min-width: 768px) {
  .col-md-12 { flex: 0 0 auto; width: 100%; }
  .col-md-9 { flex: 0 0 auto; width: 75%; }
  .col-md-8 { flex: 0 0 auto; width: 66.66666667%; }
  .col-md-4 { flex: 0 0 auto; width: 33.33333333%; }
  .col-md-3 { width: 25%; }
}

