/* Code blocks and inline code */

pre {
  border: 0;
  margin: var(--pochi-card-padding) calc(var(--pochi-card-padding) * -1);
  padding: var(--pochi-card-padding);
  line-height: 1.2;
  background-color: var(--pochi-code-bg);
  color: var(--pochi-code-fg);
  overflow-x: auto;
  word-wrap: normal;
  font-family:
    Consolas,
    Liberation Mono,
    Menlo,
    Courier,
    monospace;
}

p > code {
  font-size: 1rem;
}
pre > code {
  font-size: 0.875rem;
}

p > code,
ul li > code,
ol li > code,
td > code,
th > code {
  color: var(--pochi-inline-code-color);
  padding: 0.2rem 0.4rem;
  background-color: var(--pochi-inline-code-bg);
  border: 1px solid var(--pochi-inline-code-border);
  border-radius: 0.25rem;
}

.article-list .post-excerpt code {
  color: var(--pochi-inline-code-color);
  padding: 0.2rem 0.4rem;
  background-color: var(--pochi-inline-code-bg);
  border: 1px solid var(--pochi-inline-code-border);
  border-radius: 0.25rem;
}
