/* Media & Images */
.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-wrapper:before {
  content: "";
  display: block;
  padding-top: 75%;
}

.image-wrapper .div-cover {
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.image-wrapper .div-content {
  position: absolute;
  bottom: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--pochi-overlay-light);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.image-wrapper .div-content,
.image-wrapper .div-content p,
.image-wrapper .div-content div {
  width: 100%;
}

.image-wrapper .div-content p {
  text-shadow: 0px 1px 1px var(--pochi-text-shadow-soft);
}

.image-wrapper:hover .div-content {
  bottom: 0;
}

@media (max-width: 767px) {
  .image-wrapper .div-content {
    bottom: 0;
  }
}

.image-wrapper.card-image-width {
  width: 33%;
}

.image-wrapper.icatch:before {
  padding-top: 61.8%;
}

.featured-image-wrapper picture {
  position: relative;
  width: 100%;
  padding-bottom: 71.4286%;
  overflow: hidden;
}

.featured-image-wrapper.golden-ratio picture {
  padding-bottom: 61.8%;
}

.featured-image-wrapper picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

picture {
  display: block;
}

/* External contents */
iframe {
  max-width: 100%;
}

/* YouTube aspect ratio */
.ytvideo {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ytvideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Large images shouldn't overflow */
img {
  max-width: 100%;
  height: auto;
}
