/* Table of contents */
.table-of-contents {
  margin: 3rem 0;
  padding: 0.5rem 0 1rem;
  border: 1px solid var(--pochi-border);
  border-radius: 0.25rem;
}

.table-of-contents p {
  position: relative;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.table-of-contents p:before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    var(--pochi-separator-transparent),
    var(--pochi-separator-mid-light),
    var(--pochi-separator-transparent)
  );
  z-index: 1;
}

.table-of-contents p span {
  background: var(--pochi-card);
  padding: 0 10px;
  position: relative;
  z-index: 5;
}

.table-of-contents ol,
.table-of-contents ul {
  list-style-type: none;
  padding: 0 1rem;
  margin: 0;
  font-size: 0.9rem;
}

.table-of-contents ol li,
.table-of-contents ul li {
  text-align: left;
  line-height: 2rem;
}

.table-of-contents ol li a,
.table-of-contents ul li a {
  position: relative;
  display: inline-block;
  color: var(--pochi-text);
}

.table-of-contents ol li a:hover,
.table-of-contents ul li a:hover {
  color: var(--pochi-accent);
}

.table-of-contents ol li a:after,
.table-of-contents ul li a:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--pochi-accent);
}

.table-of-contents ol li a:hover:after,
.table-of-contents ul li a:hover:after {
  width: 100%;
}

.table-of-contents nav ul {
  counter-reset: toc-item;
}
.table-of-contents nav ul ul {
  margin-left: 0.75rem;
}
.table-of-contents nav li {
  counter-increment: toc-item;
}
.table-of-contents nav li::before {
  content: counters(toc-item, "-") ". ";
  color: var(--pochi-text);
  margin-right: 0.25rem;
}

nav#TableOfContents li:before {
  vertical-align: top;
}

#sidebar .table-of-contents,
#sidebar-left .table-of-contents,
#sidebar-right .table-of-contents {
  margin: 0 0 1rem;
  padding: 0;
  border: 0;
  border-radius: 0;
}

#sidebar .table-of-contents nav ul,
#sidebar-left .table-of-contents nav ul,
#sidebar-right .table-of-contents nav ul {
  padding: 0;
}
#sidebar .table-of-contents nav li,
#sidebar-left .table-of-contents nav li,
#sidebar-right .table-of-contents nav li {
  line-height: 1.6rem;
}

@media (min-width: 768px) {
  .has-toc-sidebar #contents .table-of-contents {
    display: none;
  }
}
