<div class="main-content">
  <div class="container-fluid single-page">
    <div class="row">
      <div class="col-md-8 centered">
        <article>
          {{ if not .Params.featuredImage }}
            <h1>{{ .Title }}</h1>
          {{ end }}
          {{ if .PublishDate }}
            <div class="post-info">
              <div class="kiji-date">
                <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
                  <svg class="icon icon-pencil">
                    <use xlink:href="#icon-pencil"></use>
                  </svg>
                  :{{ .PublishDate.Format "2006-01-02" }}
                </time>
                {{ with .Lastmod }}
                  |
                  <time datetime="{{ .Format "2006-01-02" }}">
                    <svg class="icon icon-spinner">
                      <use xlink:href="#icon-spinner"></use>
                    </svg>
                    :
                    {{ .Format "2006-01-02" }}
                  </time>
                {{ end }}
              </div>
            </div>
          {{ end }}
          <div>
            {{ .Content }}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
