{{ define "header" }}
<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper container-fluid">
        <a id="logo-container" href="{{ .Site.BaseURL }}" class="brand-logo">{{ .Site.Title }}</a>
        <div id="menu-bar-btn"><i class="fas fa-bars"></i></div>
        <div class="menu-global-nav-container">
          <ul id="menu-global-nav">
            <li><a href="{{ .Site.BaseURL }}" aria-current="page"><i class="fas fa-home"></i>ホーム</a></li>
            <li class="dropdown"><a href="#"><i class="fas fa-book"></i>ブログ</a>
              <ul class="dropdown-list">
                <li><a href="{{ .Site.BaseURL }}category/engineering/"><i class="fas fa-code"></i>エンジニアリング</a></li>
                <li><a href="{{ .Site.BaseURL }}category/like/"><i class="fas fa-rocket"></i>趣味</a></li>
                <li><a href="{{ .Site.BaseURL }}category/poem/"><i class="fas fa-book"></i>ポエム</a></li>
              </ul>
            </li>
            <li><a href="{{ .Site.BaseURL }}contact/"><i class="fas fa-envelope"></i>お問い合わせ</a></li>
            <li><a href="{{ .Site.BaseURL }}about-this-blog/"><i class="fas fa-question-circle"></i>このサイトについて</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="side-nav" class="menu-global-nav-for-phone-container">
    <ul id="menu-global-nav-for-phone" class="menu">
      <li><a href="{{ .Site.BaseURL }}" aria-current="page"><i class="fas fa-home"></i>ホーム</a></li>
      <li><a href="{{ .Site.BaseURL }}category/front-end/"><i class="fas fa-code"></i>フロントエンド</a></li>
      <li><a href="{{ .Site.BaseURL }}category/back-end/"><i class="fas fa-server"></i>バックエンド</a></li>
      <li><a href="{{ .Site.BaseURL }}category/devops/"><i class="fas fa-rocket"></i>DevOps</a></li>
      <li><a href="{{ .Site.BaseURL }}contact/"><i class="fas fa-envelope"></i>お問い合わせ</a></li>
      <li><a href="{{ .Site.BaseURL }}about-this-blog/"><i class="fas fa-question-circle"></i>このサイトについて</a></li>
    </ul>
  </div>
</header>
{{ end }}