{{ define "header" }}
<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper container-fluid">
        <a id="logo-container" href="{{ .Site.BaseURL }}" class="brand-logo">{{ .Site.Title }}</a>
        <div id="menu-bar-btn">
          <svg class="icon icon-menu">
            <use xlink:href="#icon-menu"></use>
          </svg>
        </div>
        <div class="menu-global-nav-container">
          <ul id="menu-global-nav">
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="dropdown">
              <a href="{{ .URL }}">{{ .Name }}</a>
              <ul class="dropdown-list">
                {{ range .Children }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
            </li>
            {{ else }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="side-nav" class="menu-global-nav-for-phone-container" style="opacity: 0;">
    <ul id="menu-global-nav-for-phone" class="menu">
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
        <ul>
          {{ range .Children }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </li>
      {{ else }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
</header>
{{ end }}
