{{ define "main" }}
  <main id="main-content" class="main-content" role="main">
    {{ partial "molecules/breadcrumbs.html" . }}
    <div class="container-fluid">
      <div class="row">
        <div class="centered" id="contents">
          {{ $image := resources.Get "images/404_not_found.png" }}
          <img
            src="{{ $image.RelPermalink }}"
            alt="404 Not Found"
            loading="lazy"
            decoding="async"
            width="{{ $image.Width }}"
            height="{{ $image.Height }}"
          />
        </div>
      </div>
    </div>
  </main>
{{ end }}
