{{ if .Site.Params.breadcrumbs.enable }}
  <div class="container-fluid">
    <ul id="breadcrumbs">
      {{ range .Ancestors.Reverse }}
        {{ if .IsHome }}
          <li><a href="{{ .RelPermalink }}">Home</a></li>
        {{ else }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        <li class="separator">
          &nbsp;{{ .Site.Params.breadcrumbs.separator }}&nbsp;
        </li>
      {{ end }}
      <li class="breadcrumb-active">{{ .Title }}</li>
    </ul>
  </div>
{{ end }}
