{{ if and (.Params.featuredImage) (ne .Params.featuredImage "") }}
  <div class="parallax-container">
    <div class="hero featured-image-wrapper">
      {{ partial "atoms/picture.html" (dict
        "image" .Params.featuredImage
        "alt" "featured image"
        "page" .
        "sizes" "(min-width: 1200px) 1200px, 100vw"
        "priority" "high"
        )
      }}
      <div class="container-fluid" id="parallax-object">
        <div class="row">
          <div class="col-md-12">
            <div class="hero-caption">
              <h1>{{ .Title }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
