{{ if and (.Params.featuredImage) (ne .Params.featuredImage "") }}
  {{ $cfg := partial "atoms/featured_image_config.html" . }}
  <div class="parallax-container">
    <div class="hero featured-image-wrapper">
      {{ partial "atoms/picture.html" (dict
        "image" .Params.featuredImage
        "alt" (.Params.featuredImageAlt | default .Title)
        "page" .
        "sizes" $cfg.sizes
        "widths" $cfg.widths
        "priority" "high"
        )
      }}
      <div class="container-fluid" id="parallax-object">
        <div class="row">
          <div class="col-md-12">
            <div class="hero-caption">
              <h1>{{ .Title }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
