<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container-fluid">
      <a id="logo-container" href="{{ .Site.BaseURL }}" class="brand-logo"
        >{{ .Site.Title }}</a
      >
      <div id="theme-toggle-switch-container">
        <button id="theme-toggle-switch" aria-label="theme-toggle-switch">
          {{ partial "atoms/icon.html" (dict "id" "icon-light") }}
          {{ partial "atoms/icon.html" (dict "id" "icon-dark") }}
        </button>
      </div>
      <button
        id="menu-bar-btn"
        type="button"
        class="menu-bar-btn"
        aria-label="メニュー"
        aria-controls="side-nav"
        aria-expanded="false"
      >
        {{ partial "atoms/icon.html" (dict "id" "icon-menu") }}
      </button>
      <div class="menu-global-nav-container">
        <ul id="menu-global-nav">
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li class="dropdown">
                <a href="{{ .URL }}">{{ .Name }}</a>
                <ul class="dropdown-list">
                  {{ range .Children }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
              </li>
            {{ else }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</div>
