<script>
  const prefersDarkMode = window.matchMedia("(prefers-color-scheme: dark)");
  const storedTheme = localStorage.getItem("pref-theme");
  const root = document.documentElement;

  if (storedTheme) {
    root.classList.toggle("dark", storedTheme === "dark");
  } else {
    const turnDarkModeOn = prefersDarkMode.matches;
    root.classList.toggle("dark", turnDarkModeOn);
    localStorage.setItem("pref-theme", turnDarkModeOn ? "dark" : "light");
  }
</script>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container-fluid">
      <a id="logo-container" href="{{ .Site.BaseURL }}" class="brand-logo"
        >{{ .Site.Title }}</a
      >
      <div id="theme-toggle-switch-container">
        <button id="theme-toggle-switch" aria-label="theme-toggle-switch">
          {{ partial "atoms/icon.html" (dict "id" "icon-light") }}
          {{ partial "atoms/icon.html" (dict "id" "icon-dark") }}
        </button>
      </div>
      <div id="menu-bar-btn">
        {{ partial "atoms/icon.html" (dict "id" "icon-menu") }}
      </div>
      <div class="menu-global-nav-container">
        <ul id="menu-global-nav">
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li class="dropdown">
                <a href="{{ .URL }}">{{ .Name }}</a>
                <ul class="dropdown-list">
                  {{ range .Children }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
              </li>
            {{ else }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</div>
