{{ if .PublishDate }}
  <div class="post-info">
    <div class="kiji-date">
      <time datetime="{{ .PublishDate.Local.Format "2006-01-02 15:04:05" }}">
        {{ partial "atoms/icon.html" (dict "id" "icon-pencil") }}
        :
        {{ .PublishDate.Local.Format "2006-01-02" }}
      </time>
      {{ with .Lastmod }}
        |
        <time datetime="{{ .Format "2006-01-02 15:04:05" }}">
          {{ partial "atoms/icon.html" (dict "id" "icon-spinner") }}
          :
          {{ .Format "2006-01-02" }}
        </time>
      {{ end }}
    </div>
  </div>
{{ end }}
