<h2 class="widgettitle"><span>About me</span></h2>
<div class="textwidget custom-html-widget">
  <div class="profile-flex-box">
    <div id="profile-image">
      {{ partial "atoms/picture.html" (dict "image" .ProfileImage "alt" .Name) }}
    </div>
    <div
      class="profile-header"
      style="display: inline-block; width: 60%; margin: auto; padding-left: 5%;"
    >
      <h3>{{ .Name }}</h3>
    </div>
  </div>
  <br />
  {{ with .Introduction }}
    <p>
      {{ . }}
    </p>
  {{ end }}
  {{ with .Links }}
    <ul>
      {{ range . }}
        <li>
          {{ partial "atoms/icon.html" (dict "id" "icon-link") }}
          <a href="{{ .link }}" target="_blank" rel="noreferrer noopener"
            >{{ .name }}</a
          >
        </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
