{{ $opts := dict
  "document" .
  "indices" (slice "tags")
}}
{{ with .Site.RegularPages.Related $opts | shuffle | first 3 }}
  <div class="row">
    <div class="col-md-12 recent-posts-wrapper">
      <div class="mymenu-thumb mymenu-related-list">
        <h3>{{ T "related_posts" }}</h3>
        <div class="row">
          {{ range . }}
            <div class="col-sm-4 mymenu-related">
              <a href="{{ .Permalink }}">
                {{ $page := . }}
                {{ with .Params.featuredImage }}
                  <div class="featured-image-wrapper golden-ratio">
                    {{ partial "atoms/picture.html" (dict
                      "image" .
                      "alt" "featured image"
                      "page" $page
                      "sizes" "(min-width: 800px) 320px, 100vw"
                      "widths" (slice 320 640)
                      )
                    }}
                  </div>
                {{ end }}
                <div class="text">
                  {{ .Title }}
                  <div class="post-info">
                    <div class="kiji-date">
                      <time
                        datetime="{{ .PublishDate.Local.Format "2006-01-02 15:04:05" }}"
                      >
                        {{ partial "atoms/icon.html" (dict "id" "icon-pencil") }}
                        {{ .PublishDate.Local.Format "2006-01-02" }}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
