<div
  id="side-nav"
  data-pochi-side-nav
  class="menu-global-nav-for-phone-container"
  style="opacity: 0;"
  aria-hidden="true"
>
  <div class="side-nav-header">
    <button
      id="side-nav-close"
      data-pochi-side-nav-close
      class="side-nav-close"
      type="button"
      aria-label="{{ T "close_menu" }}"
    >
      {{ T "close" }}
    </button>
  </div>
  <ul id="menu-global-nav-for-phone" class="menu">
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li>
          <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          <ul>
            {{ range .Children }}
              <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
  <div id="side-nav-option">
    {{ partial "molecules/lang_switcher.html" . }}
  </div>
</div>
