{{ $img := .image }}
{{ if ne (substr $img 0 1) "/" }}
  {{ $img = printf "/%s" $img }}
{{ end }}
<picture>
  {{ $isAVIF := eq (path.Ext $img) ".avif" }}
  {{ $isWebP := eq (path.Ext $img) ".webp" }}
  {{ $imgSrc := "" }}

  {{ if or $isAVIF $isWebP }}
    {{ $type := "" }}
    {{ if $isAVIF }}
      {{ $type = "avif" }}
    {{ else if $isWebP }}
      {{ $type = "webp" }}
    {{ end }}
    <source srcset="{{ $img }}" type="image/{{ $type }}" />

    {{ $jpgPath := replace $img (printf ".%s" $type) ".jpg" }}
    {{ $jpgPathStatic := printf "static/%s" $jpgPath }}
    {{ if (fileExists $jpgPathStatic) }}
      {{ $imgSrc = $jpgPath }}
    {{ end }}

    {{ $pngPath := replace $img (printf ".%s" $type) ".png" }}
    {{ $pngPathStatic := printf "static/%s" $pngPath }}
    {{ if (fileExists $pngPathStatic) }}
      {{ $imgSrc = $pngPath }}
    {{ end }}
  {{ end }}

  {{ if eq $imgSrc "" }}
    {{ $imgSrc = $img }}
  {{ end }}
  <img
    src="{{ $imgSrc }}"
    {{ with .alt }}alt="{{ . }}"{{ end }}
    loading="lazy"
    decoding="async"
    {{ with imageConfig (printf "/static%s" $imgSrc) }}
      width="{{ .Width }}" height="{{ .Height }}"
    {{ end }}
  />
</picture>
