{{ $clipboard := resources.Get "js/clipboard.js" }}
{{ $main := resources.Get "js/main.js" }}
{{ $nav := resources.Get "js/navigation.js" }}
{{ $archives := resources.Get "js/archives-toggle.js" }}
{{ $scrollspy := resources.Get "js/scrollspy.js" }}
{{ $scrollFadeIn := resources.Get "js/scroll-fade-in.js" }}
{{ $like := resources.Get "js/like-button.js" }}
{{ $share := resources.Get "js/share-button.js" }}
{{ $langSwitcher := resources.Get "js/lang-switcher.js" }}
{{ $lightbox := resources.Get "js/lightbox.js" }}
{{ $codeCopy := resources.Get "js/code-copy.js" }}
{{ $bundle := slice $clipboard $main $nav $archives $scrollspy $scrollFadeIn $like $share $langSwitcher $lightbox $codeCopy | resources.Concat "js/bundle.js" | resources.Minify | fingerprint }}
<script defer src="{{ $bundle.RelPermalink }}"></script>
