{{ $tokens := resources.Get "css/tokens.css" }}
{{ $normalize := resources.Get "css/vendor/modern-normalize.css" }}
{{ $utilities := resources.Get "css/utilities.css" }}
{{ $base := resources.Get "css/base.css" }}
{{ $layoutMain := resources.Get "css/layout/main-content.css" }}
{{ $layoutGrid := resources.Get "css/layout/grid.css" }}

{{ $cButtons := resources.Get "css/components/buttons.css" }}
{{ $cNav := resources.Get "css/components/nav.css" }}
{{ $cSidebar := resources.Get "css/components/sidebar.css" }}
{{ $cTypography := resources.Get "css/components/typography.css" }}
{{ $cContent := resources.Get "css/components/content.css" }}
{{ $cCode := resources.Get "css/components/code.css" }}
{{ $cForms := resources.Get "css/components/forms.css" }}
{{ $cIcons := resources.Get "css/components/icons.css" }}
{{ $cSearch := resources.Get "css/components/search.css" }}
{{ $cLists := resources.Get "css/components/lists.css" }}
{{ $cToc := resources.Get "css/components/toc.css" }}
{{ $cPagination := resources.Get "css/components/pagination.css" }}
{{ $cFooter := resources.Get "css/components/footer.css" }}
{{ $cBreadcrumbs := resources.Get "css/components/breadcrumbs.css" }}
{{ $cHero := resources.Get "css/components/hero.css" }}
{{ $cMedia := resources.Get "css/components/media.css" }}
{{ $cLightbox := resources.Get "css/components/lightbox.css" }}
{{ $cArticleList := resources.Get "css/components/article-list.css" }}
{{ $cScroll := resources.Get "css/components/scroll.css" }}
{{ $cProfile := resources.Get "css/components/profile.css" }}
{{ $cFootnotes := resources.Get "css/components/footnotes.css" }}
{{ $cViewTransitions := resources.Get "css/components/view-transitions.css" }}

{{ $main := resources.Get "css/main.css" }}

{{ $bundledCss := slice $tokens $normalize $utilities $base $layoutMain $layoutGrid $cButtons $cNav $cSidebar $cTypography $cContent $cCode $cForms $cIcons $cSearch $cLists $cToc $cPagination $cFooter $cBreadcrumbs $cHero $cMedia $cLightbox $cArticleList $cScroll $cProfile $cFootnotes $cViewTransitions $main | resources.Concat "css/bundled.css" | resources.Minify | fingerprint }}
<link rel="stylesheet" href="{{ $bundledCss.RelPermalink }}" />
